:root {
    --bg-color: #FAF8F6;
	--baobab-blue: #91C7F5;
	--baobab-pink: #F59191;
	--baobab-green: #DEF591;
	--display-font: 'Playfair+Display', serif;
	--main-font: 'Source+Sans+Pro', sans-serif;
}

html, body {
    height: 100%;

}

body {
	font-family: var(--main-font);
	background-color: var(--bg-color);
}

h1 {
	font-family: var(--display-font);
/*	font-weight: bold;*/
}

.navbar-brand {
	font-family: var(--display-font);
	font-size: 2em;
	font-weight: bold;
}

.jumbotron {
	min-height: 90%;
	min-height: 90vh;
	background-color: var(--bg-color);
}

.lg-container {
	padding: 5%;
}

.callout {
	font-family: var(--display-font);
	background-color: var(--baobab-pink);
	color:  white;
	text-align: center;
	padding: 3em;
	font-weight: bold;
}

.callout-link {
	font-family: var(--main-font);
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bolder;
}

.callout-link:hover {
	color: white;
}

.img-fluid {
	max-width: 100%;
}

.btn-primary {
	background-color: var(--baobab-blue);
	border-color: var(--baobab-blue);
}

.ul-light {
	font-weight: 200;
}

.people {
	width:99%; 
	height:163px;
	position:absolute;
	background-repeat: repeat-y;
	background:transparent url("/img/people.png");
	display: block;
}

.footer {
	background-color: #424242;
	padding: 3em;
	color: white;
}

.smallitron {
	min-height: 40%;
	min-height: 40vh;
}
